@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.list-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.list-view-item {
  display: flex;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  width: calc(50% - 20px); /* Two columns in list view */
}

.grid-view{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.grid-view-item{
  display: flex;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  width: calc(25% - 20px); /*four columns in grid view*/
}


.card{
  z-index: 2;
  width: 270px;
  height: 500px;
  border-radius: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.card p{
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

.hoverarea{
  position: relative;
  width: 250px;
  height: 500px;
}

.card-title{
  position: relative;
  z-index: 2;
  transition: 600ms;
  cursor: pointer;
}

.article-img{
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.card-title:hover{
  transform: scale(1.02);
  box-shadow: 0 0 20px rgb(228, 135, 54);
}

.template{
  z-index: 2;
  width: 900px;
  height: 600px;
  border-radius: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.25)
}
.template img{
  margin-top: 20px;
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.template h1{
  margin-left: 10px;
  margin-top: 20px;
  font-size: xx-large;
  font-weight: bold;
}

.template p{
  margin: 0;
  padding: 20px;
}

.logo{
  width: 37px;
  height: 37px;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.red_btn {
  @apply rounded-full border border-rose-500 bg-red-500 py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.outlineRed_btn {
  @apply rounded-full border border-rose-500 bg-transparent py-1.5 px-5 text-black transition-all hover:bg-red-500 hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-4xl font-extrabold leading-[1.15] sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}


.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-3xl  tracking-wide;
}


